$borderColor: #ededf0;
$darkModeFontColor: #d7d7d7;
$darkModeBackgroundColor: #1d1e23;
$darkModeBackgroundColor1: #24262c;
$darkModeLinkColor: #5780b0;
$darkModeBorderColor: rgba(59, 66, 80, 0.7);
$darkModeBorderColor1: #606060;
$darkModeHover: #4d4d4d;

@mixin tableCellStyles {
  position: sticky;
  background-color: inherit;
  font-size: 14px;
  min-width: 80px;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: $borderColor !important;
}

@mixin pinnedCellStyles {
  top: 0;
  z-index: 1;
}


.dataGrid {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  .dataGrid__table {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: scroll;
	border: 1px solid $borderColor;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	height: calc(100% - 74px);
	background-color: #ffffff;

	.dataGrid__header {
	  position: sticky;
	  top: 0;
	  z-index: 10;
	  background-color: inherit;

	  .dataGrid__headerRow {
		display: flex;
		justify-content: space-between;
		width: fit-content;
		top: 0;
		float: left;
		clear: left;
		background-color: inherit;
		border-bottom: 1px solid $borderColor;

		.dataGrid__headerCell {
		  padding: 16px 8px;
		  text-align: left;
		  display: flex;
		  align-items: center;
		  user-select: none;
		  @include tableCellStyles;

		  &.pinned {
			@include pinnedCellStyles;
		  }

		  .dataGrid__sortContainer, .dataGrid__pinContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			margin-left: 2px;
			padding: 4px;
			border-radius: 50%;


			&:hover {
			  background-color: rgba(0, 0, 0, 0.04);
			}
		  }

		  .dataGrid__pinContainer {
			margin-left: 8px;
		  }
		}
	  }
	}

	.dataGrid__body {
	  background-color: inherit;

	  .dataGrid__link {
		color: #3ba3e3;
	  }

	  &.loading {
		filter: blur(10px);
	  }

	  .dataGrid__lastRow {
		opacity: 0;
		height: 0;
		float: left;
		clear: left;

		.dataGrid__row {
		  height: 0;

		  .dataGrid__cell {
			padding: 0;
		  }
		}
	  }

	  .dataGrid__row {
		display: flex;
		justify-content: space-between;
		width: fit-content;
		float: left;
		clear: left;
		background-color: inherit;
		border-bottom: 1px solid $borderColor;

		&:hover {
		  background-color: rgb(219, 216, 216);
		}

		.dataGrid__cell {
		  padding: 8px;
		  @include tableCellStyles;

		  &.pinned {
			@include pinnedCellStyles;
		  }
		}
	  }
	}
  }

  .dataGrid__footer {
	border: 1px solid $borderColor;
	border-radius: 0 0 4px 4px;
	padding: 16px 16px;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	bottom: 0;
	background-color: #ffffff;
	z-index: 10;

	.paginationInfo {
	  text-align: right;
	}

	.searchContainer {

	  .icon {
		position: relative;
		left: 14px;
		top: 4px;
	  }

	  .search {
		border: none;
		background-color: inherit;
		color: inherit;
		border-bottom: 1px solid #53669f;
		height: 40px;
		outline: none;
		padding: 2px 2px 2px 20px;
	  }
	}
  }

  &.dark {
	color: $darkModeFontColor;

	.dataGrid__table {
	  border-color: $darkModeBorderColor;
	  background-color: $darkModeBackgroundColor;

	  .dataGrid__header {

		.dataGrid__headerRow {
		  border-color: $darkModeBorderColor;

		  .dataGrid__headerCell {
			border-color: $darkModeBorderColor !important;

			.dataGrid__sortContainer, .dataGrid__pinContainer {
			  &:hover {
				background-color: $darkModeHover;
			  }
			}
		  }
		}
	  }

	  .dataGrid__body {
		background-color: $darkModeBackgroundColor;

		.dataGrid__link {
		  color: $darkModeLinkColor;
		}

		.dataGrid__row {
		  background-color: $darkModeBackgroundColor;
		  border-color: $darkModeBorderColor;

		  &:hover {
			background-color: $darkModeHover;
		  }

		  .dataGrid__cell {
			border-color: $darkModeBorderColor !important;
		  }
		}
	  }
	}

	.dataGrid__footer {
	  border-color: $darkModeBorderColor;
	  background-color: $darkModeBackgroundColor;

	  .searchContainer {
		.search {
		  border-color: $darkModeBorderColor1;
		}
	  }
	}
  }
}
